<div class="row">
	<h1>Set OTP Secret</h1>
	<% if current_user.id == @user.id %>
		<h3>Use Google Authenticator to scan this QR code:</h3>
		<div id="qrcode">
			<img alt="qr code" src=<%= "/images/qrcode-#{@user.id}.png" %> />
		</div>
		<h3>Or enter this code manually:</h3>
		<pre><%= @user.otp_secret %></pre>
		<br/>
	<% else %>
		<h3>You are not authorized to view this user's OTP secret</h3>
	<% end %>
	<%= button_to "OK", delete_qr_code_user_path, :class => 'btn-primary', :method => :get %>
</div>
